<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/index/index.css" />
    <link rel="stylesheet" href="/signUp/signUp.css" />
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>
            <main>

                <form action="/new-password" method="POST">
                  
                    <div class="form__content">
                        <label for="password">Password :</label>
                        <input type="password" name="password" placeholder="Enter your password here..." required>
                    </div>

                    <div class="form__content">
                        <label for="confirmPassword">Confirm Password :</label>
                        <input type="password" name="confirmPassword" placeholder="Confirm your password here..." required>
                    </div>

                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="token" value="<%= token %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="btn">
                        <button type="submit">Update Password</button>
                    </div>
                   
                </form>
            </main>
        <%- include('../includes/end.ejs') %>