<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/addBooks/addBooks.css" />

  </head>

  <body>

    <%- include('../includes/navigation.ejs') %>

      <Section class="addbook">
        <p class="addbook__title">Add your book here !</p>

        <form action="/admin/<%= editing  ? 'edit-book' : 'add-book' %>" class="addbook__form" method="POST">
          <div class="addbook__entities">
            <label for="title">Title :</label>
            <input type="text" name="title" placeholder="Enter your book title" value="<% if(editing){ %><%= book.title %><% } %>" required />
          </div>
          <div class="addbook__entities">
            <label for="imageUrl">Image :</label>
            <input type="text" name="imageUrl" placeholder="Enter your book Cover" value="<% if(editing){ %><%= book.imageUrl %><% } %>" required  />
          </div>
          <div class="addbook__entities">
            <label for="price">Price ($) :</label>
            <input type="number" name="price" placeholder="Enter your book price" value="<% if(editing){ %><%= book.price %><% } %>" required  />
          </div>
          <div class="addbook__entities">
            <label for="author">Author :</label>
            <input type="text" name="author" placeholder="Enter your book Author" value="<% if(editing){ %><%= book.author %><% } %>" required  />
          </div>

          <% if(editing){ %>    
            <input type="hidden" name="bookId" value="<%= book.id %>">  
          <% } %>

          <button class="addbook__btn" type="submit"><%= editing  ? 'Update Book' : 'Add Book' %></button>
        </form>
      </Section>
      <%- include('../includes/end.ejs') %>